<section class="w-[30vw] pt-28 flex flex-col justify-center items-center">
    <mat-form-field [formGroup]="form" class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>
    <mat-form-field [formGroup]="form" class="mt-4 w-full" appearance="outline">
        <mat-label>Senha</mat-label>
        <input formControlName="password" matInput>
        <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-full" (click)="submit()">Enviar</button>
</section>